# General
.DS_Store
*.log
*.tmp

# Build directories
build/
JUCE_build/
target/

# CMake
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile

# PitchDetector
PitchDetector/build/
PitchDetector/JUCE_build/
PitchDetectorApp_artefacts/
PitchDetectorPlugin_artefacts/
PitchDetector/PitchDetectorApp.h.old

# IDE
.vscode/
.idea/
