[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "NetworkAudioStreamer/third_party/uWebSockets"]
	path = NetworkAudioStreamer/third_party/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
